<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 扩展的Mapper配置⽂件，注意命名空间与源配置⽂件保持⼀致 -->
<mapper namespace="yc.star.forum.dao.BoardMapper">
    <!-- 查询前N个正常状态的版块 -->
    <select id="selectByNum" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_board
        where
        deleteState = 0
        and
        state = 0
        order by sort desc
        limit #{num,jdbcType=INTEGER}
    </select>
    <!-- 查询所有正常状态的版块 -->
    <select id="selectAllNormal" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_board
        where
        deleteState = 0
        and
        state = 0
        order by sort asc
    </select>
    <!-- 获取所有板块列表 -->
    <select id="selectAllBoards" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_board
        where deleteState = 0
        order by sort desc, createTime desc
    </select>
</mapper>