<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yc.star.forum.dao.MessageMapper">
    <resultMap id="AllInfoResultMap" type="yc.star.forum.model.Message" extends="BaseResultMap">
        <association property="postUser" resultMap="yc.star.forum.dao.UserMapper.BaseResultMap"
                     columnPrefix="u_" />
    </resultMap>
    <!--  根据用户id查询所有未读信的数量  -->
    <select id="selectUnreadCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            `t_message`
        WHERE
            state = 0
          AND deleteState = 0
          AND receiveUserId = #{receiveUserId,jdbcType=BIGINT}
    </select>
    <!--  根据用户id查询所有的站内信  -->
    <select id="selectByReceiveUserId" parameterType="java.lang.Long" resultMap="AllInfoResultMap">
        SELECT
            u.id AS u_id,
            u.nickname AS u_nickname,
            u.gender AS u_gender,
            u.avatarUrl AS u_avatarUrl,
            m.id,
            m.postUserId,
            m.receiveUserId,
            m.content,
            m.state,
            m.deleteState,
            m.createTime,
            m.updateTime
        FROM
            t_message m,t_user u
        WHERE
            m.postUserId = u.id
          AND m.deleteState = 0
          AND m.receiveUserId = #{receiveUserId,jdbcType=BIGINT}
        ORDER BY m.state ASC,m.createTime DESC
    </select>
</mapper>